<mat-toolbar
    id="navbar"
    [ngClass]="theme$ | async">
    <button
        mat-icon-button
        class="menu-icon"
        (click)="toggleLeftSidebar.emit()">
        <mat-icon class="material-symbols-outlined">menu</mat-icon>
    </button>
    <span class="mr-3">Древо</span>

    <div class="nav-menu">
        <a
            mat-flat-button
            routerLink="">
            Энциклопедия
        </a>
        <a
            mat-flat-button
            routerLink="news">
            Новости
        </a>
        <a
            mat-flat-button
            routerLink="forum">
            Форум
        </a>
    </div>

    <span class="spacer"></span>

    <drevo-theme-switcher></drevo-theme-switcher>

    <button
        mat-icon-button
        class="menu-icon"
        (click)="toggleRightSidebar.emit()">
        <mat-icon class="material-symbols-outlined">dock_to_left</mat-icon>
    </button>
</mat-toolbar>
