@if (content) {
    <a
        class="cursor-pointer content-item hover-lined"
        [routerLink]="[]"
        [fragment]="content.anchor || '0'">
        {{ content.title || 'Top' }}
    </a>
    <ul
        *ngIf="!!content?.subtitles?.length"
        [ngClass]="{ 'first-level': !content.title }">
        @for (subtitle of content.subtitles; track $index) {
            <li>
                <drevo-article-content [content]="subtitle"></drevo-article-content>
            </li>
        }
    </ul>
}
