<mat-tab-group
    #tabGroup
    animationDuration="0ms"
    [selectedIndex]="selectedTabIndex$ | async"
    (selectedIndexChange)="tabChanged($event)">
    @if (content$ | async; as content) {
        <mat-tab
            id="content-tab"
            label="Содержание">
            <div class="p4">
                <drevo-article-content
                    *ngFor="let contentItem of content"
                    [content]="contentItem"></drevo-article-content>
            </div>
        </mat-tab>
    }
    <mat-tab label="Закладки">
        <drevo-bookmarks></drevo-bookmarks>
    </mat-tab>
</mat-tab-group>
