@import 'variables';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
    color: $link-color;
}

.dark-mode,
.black-mode {
    a {
        color: $dark-link-color;
    }
}

.hover-lined {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.cursor-pointer {
    cursor: pointer;
}

@each $dist in $dist-list {
    $i: index($dist-list, $dist);
    .m#{$i} {
        margin: $dist;
    }
    .mr#{$i} {
        margin-right: $dist;
    }
    .mt#{$i} {
        margin-top: $dist;
    }
    .p#{$i} {
        padding: $dist;
    }
}

.h-100 {
    height: 100%;
}

.hw-100 {
    height: 100%;
    width: 100%;
}
