@if ({ mobileMode: mobileMode$ | async }; as async) {
<div
    class="container"
    [class.is-mobile]="async.mobileMode">
    <drevo-navbar
        id="navbar"
        (toggleLeftSidebar)="leftSidenav.toggle()"
        (toggleRightSidebar)="rightSidenav.toggle()"></drevo-navbar>

    <mat-sidenav-container
        class="sidenav-container"
        [hasBackdrop]="async.mobileMode">
        <mat-sidenav
            #leftSidenav
            [mode]="async.mobileMode ? 'over' : 'side'"
            [fixedInViewport]="async.mobileMode">
            <mat-nav-list>
                <a
                    mat-list-item
                    routerLink=".">
                    Пункт меню
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav
            #rightSidenav
            mode="side"
            position="end">
            <mat-nav-list>
                <a
                    mat-list-item
                    routerLink=".">
                    Пункт правого меню
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <ng-content></ng-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
}
