<div
    id="layout-wrapper"
    [class]="theme$ | async"
    class="mat-app-background hw-100">
    @if (
        {
            isMobile: isMobile$ | async,
            isLargeScreen: isLargeScreen$ | async
        };
        as async
    ) {
        <div
            class="container"
            [class.is-mobile]="async.isMobile">
            <drevo-navbar
                id="navbar"
                (toggleLeftSidebar)="leftSidenav.toggle()"
                (toggleRightSidebar)="rightSidenav.toggle()"></drevo-navbar>

            <mat-sidenav-container
                class="sidenav-container"
                [hasBackdrop]="async.isMobile">
                <mat-sidenav
                    #leftSidenav
                    class="sidebar"
                    [opened]="async.isLargeScreen"
                    [mode]="async.isMobile ? 'over' : 'side'"
                    [fixedInViewport]="async.isMobile">
                    <mat-nav-list>
                        <drevo-sidebar-left></drevo-sidebar-left>
                    </mat-nav-list>
                </mat-sidenav>

                <mat-sidenav
                    #rightSidenav
                    class="sidebar"
                    [opened]="async.isLargeScreen"
                    [mode]="async.isMobile ? 'over' : 'side'"
                    [fixedInViewport]="async.isMobile"
                    mode="side"
                    position="end">
                    <mat-nav-list>
                        <drevo-sidebar-right></drevo-sidebar-right>
                    </mat-nav-list>
                </mat-sidenav>

                <mat-sidenav-content #mainContainer>
                    <div class="content">
                        <ng-content></ng-content>
                    </div>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    }
</div>
